<%- include('../partials/errormessage') %>
<br>
<br>

<% if(rooms.length > 0) { %>
 
<div class="game"></div>
<table style="border-collapse: collapse; width: 100%;">
    <% rooms.forEach(rooms => { %>  
        <tr class="tr">
                <td style="font-size: larger; font-weight: bold; width: 45%; padding-left: 5px;">
                    <%= rooms.name %>  
                </td>
                <td style="font-size: small; color: darkgray; width: 25%;">
                    <%= rooms.playernum %>/4
                </td>
                <td>
                    <% if(rooms.playernum < 4) { %>
                    <a class="buttonsave" href="/rooms/games/<%= rooms.id %>">Pridruži</a>
                    <% } %> 
                </td>
                <td>
                    <%- include('../partials/deleteform',{
                        url: `/rooms/${rooms.id}`
                    }) %>
                </td>
        </tr>
    <% }) %>
</table>
<% } %>
 